USE [CWSS]
GO
/****** Object:  Table [dbo].[workcharges]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workcharges](
	[wid] [int] IDENTITY(1,1) NOT NULL,
	[wrid] [int] NULL,
	[wtit] [nvarchar](max) NULL,
	[wfees] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userbuilding]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userbuilding](
	[mid] [int] IDENTITY(1,1) NOT NULL,
	[mrid] [int] NULL,
	[city] [nvarchar](50) NULL,
	[budget] [nvarchar](50) NULL,
	[bdesc] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registration]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registration](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[typ] [nvarchar](50) NULL,
	[rtyp] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[cont] [nvarchar](50) NULL,
	[uid] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
	[adr] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plots]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plots](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[rid] [int] NOT NULL,
	[city] [nvarchar](50) NULL,
	[area] [nvarchar](50) NULL,
	[price] [int] NULL,
	[pdesc] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photos]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bdid] [int] NULL,
	[rid] [int] NULL,
	[photo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[fid] [int] IDENTITY(1,1) NOT NULL,
	[rrfd] [int] NULL,
	[rrtd] [int] NULL,
	[fmsg] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citymaster]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citymaster](
	[city] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buildings]    Script Date: 08/19/2023 16:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buildings](
	[bdid] [int] IDENTITY(1,1) NOT NULL,
	[rid] [int] NOT NULL,
	[city] [nvarchar](50) NULL,
	[area] [nvarchar](50) NULL,
	[price] [int] NULL,
	[bdesc] [nvarchar](max) NULL
) ON [PRIMARY]
GO
